<!DOCTYPE html>
<html>

<head>
    <title><TMPL_VAR name></title>
    <link rel="stylesheet" type="text/css" href="http://www.mozilla.com/style/tignish/template.css" />
    <link rel="stylesheet" type="text/css" href="http://www.mozilla.com/style/tignish/content.css" />
    <link rel="stylesheet" type="text/css" href="planet.css" />

    <TMPL_IF feedtype>
    <link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
    </TMPL_IF>
</head>

<body>

    <div id="main-feature">
      <h1><TMPL_VAR name></h1>
      <p>Updates from the Firefox User Experience Team</p>
    </div>

    <div class="content">

    <TMPL_LOOP Items>
    <TMPL_IF new_date>
    <h2><TMPL_VAR new_date></h2>
    </TMPL_IF>

    <TMPL_IF new_channel>

    ### Planet provides template variables for *all* configuration options for
    ### the channel (and defaults), even if it doesn't know about them.  We
    ### exploit this here to add hackergotchi faces to our channels.  Planet
    ### doesn't know about the "face", "facewidth" and "faceheight" configuration
    ### variables, but makes them available to us anyway.

    <h3>
        <a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR channel_name><TMPL_IF title>: <TMPL_VAR title></TMPL_IF>
    </h3>
    <TMPL_IF channel_face>
    <img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
    </TMPL_IF>
    </TMPL_IF>

    <div class="entry">
    <TMPL_VAR content>
    <p class="date">
    <a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>by <TMPL_VAR creator> at </TMPL_IF><TMPL_VAR date></a>
    </p>
    </div>
    </TMPL_LOOP>

</div>

</body>
</html>
