/* @override http://planet.firefox.com/ux/planet.css */

body {
    padding: 20px;
    background: url(http://www.mozilla.com/img/tignish/template/background-feature.jpg) 50% -145px no-repeat;
    text-align: left;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 360%;
    color: #fff;
    margin: 20px 0 0 0;
}


#main-feature {
    padding: 0;
    background: url("http://nightly.mozilla.org/firefox.png") 0 0 no-repeat;
}

#main-feature p, #main-feature h1 {
    margin-left: 120px;
}

#main-feature p {
	margin: 0;
    margin-left: 120px;
    font-size: 150%;
}

abbr {
	border: none;
}

hr {
    height: 1px; 
	border: none;
    color: #ccc; 
    background-color: #ccc; 
    margin: 2em auto;
	width: 50%;
}

dl {
	margin: 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1em;
}