<!DOCTYPE html>
<html>

### Fancy Planet HTML template.
### 
### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces
### 
### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
<link rel="stylesheet" href="planet.css" type="text/css">
<link rel="icon" href="mozilla-16.png" type="image/png">
<TMPL_IF feedtype>
<link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
</TMPL_IF>
</head>

<body>

<div id="utility">
<p><strong>Looking For</strong></p>
<ul>
<li><a href="http://www.mozilla.org/">mozilla.org</a></li>
<li><a href="https://wiki.mozilla.org/">Wiki</a></li>
<li><a href="https://developer.mozilla.org/">Developer Center</a></li>
<li><a href="http://www.firefox.com/">Firefox</a></li>
<li><a href="http://www.getthunderbird.com/">Thunderbird</a></li>
</ul>
</div>

<div id="header">
<div id="dino">
<h1>
<a title="Back to home page" href="/"><TMPL_VAR name></a>
</h1>
</div>
</div>


<div class="content">

<TMPL_LOOP Items>
<TMPL_IF new_date>
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.

<h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
</TMPL_IF>
</TMPL_IF>

<TMPL_IF title>
<h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<div class="entry">
<TMPL_VAR content>
<p class="date">
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>by <TMPL_VAR creator> at </TMPL_IF><TMPL_VAR date></a>
</p>
</div>
</TMPL_LOOP>

</div>

<div class="sidebar">

<div class="feeds">
<h2>Subscribe to Planet</h2>
<p>Feeds:
<ul>
<li><a href="atom.xml">Atom</a></li>
<li><a href="rss20.xml">RSS 2.0</a></li>
<li><a href="rss10.xml">RSS 1.0</a></li>
</ul></p>
<p>Subscription list:</p>
<ul>
<li class="foaf"><a href="foafroll.xml">FOAF</a></li>
<li class="opml"><a href="opml.xml">OPML</a></li>
</ul>

<p>Last update: <TMPL_VAR date><br>
<em>All times are UTC.</em></p>
</div>

<div class="main">
<h2>Other Planets</h2>
<ul class="planets">
<li><a href="http://education.mozilla.org/planet/">Mozilla Education</a></li>
<li><a href="http://planet.mozinterns.net/">Mozilla Interns</a></li>
<li><a href="http://planet.mozillamessaging.com/">Mozilla Messaging</a></li>
<li><a href="http://blog.mozillaonline.com/">Mozilla Online (Chinese)</a></li>
<li><a href="http://planet.bugzilla.org/">Planet Bugzilla</a></li>
<li><a href="http://planet.firefox.com/">Planet Firefox</a></li>
</ul>

<h2>Subscriptions</h2>
<ul class="subscriptions">
<TMPL_LOOP Channels>
<li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a> <a href="<TMPL_VAR url ESCAPE="HTML">">(feed)</a></li>
</TMPL_LOOP>
</ul>
<div class="bottom"></div>
</div>

</div>

<div id="footer">
<div id="footer-content">
<p>Maintained by the <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Websites&amp;component=planet.mozilla.org">Planet Mozilla Module Team</a>. Powered by <a href="http://www.intertwingly.net/code/venus/">Planet Venus</a>.</p>
</div>
</div>

</body>
</html>
