/*
 * General styles
 */
* { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { font: 100%/1.3em Georgia, serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font-size: 1.7em; line-height: 1.3em; font-style: italic; }
h2 { font-size: 1.5em; line-height: 1.3em; font-style: italic; }
p { margin: 0.5em 0 1em;}
a img { border: none; }
a { color: #A5151E; text-decoration: none; }
a:visited { color: #A5151E; }
a:hover { color: #FF1A00; }

/*
 * clearing
 */
.clearfix:after { content: "."; display: block; clear: both; font-size: 0; height: 0; visibility: hidden; }
*:first-child+html .clearfix { min-height: 0; }
* html .clearfix { height: 1%; }
.clear { clear: both; }

/* 
 * #headerbar 
 */
#headerbar { background: #3A3A3A; border-bottom: 1px solid #222; height: 1.5em; }
#headerbar ul { float: right; list-style: none; }
#headerbar ul li { float: left; padding: .1em .5em .1em .7em; }
#headerbar ul li a { color: #fff; background: url(http://mozilla.de/img/icons/dino.png) no-repeat; padding-left: 20px; }
#headerbar ul li a:hover { text-decoration: underline; }

/*
 * header
 */
header { background: #333; border-bottom: 10px solid #A5151E; }
header a { color: #C9E0E8;}
header a:visited { color: #C9E0E8; }
header a:hover { color: #fff; }
#header-wrapper { min-width: 300px; max-width: 1025px; margin: 0 auto; padding: 1.5em 0; }
header .logo { float: left; width: 15%; min-width: 160px; margin: 0 1em;}
#navigation { float: left; margin: 73px 0 0; width: 70%; }  
#navigation ul li { float: left; padding: 0.5% 2.5%; list-style: none; }
#navigation ul li a { font-size: 1.3em; } 
#navigation ul li .aktiv { font-size: 1.3em; color: #fff; font-style: italic; }

/*
 * content
 */
#content-wrapper { margin: 0 auto; max-width: 1025px; min-width: 300px; background: url(http://mozilla.de/img/bg/content.png) repeat-y 100% 0; }
#content { padding: 1.5em 2% 0 1%; float: left; width: 76%; }
#content h1 { font-size: 26px; font-style: italic; margin: 0 0 15px; }
#content h2 { font-size: 22px; font-style: italic; margin: 20px 0; border-bottom: 1px solid #333; padding: 0 0 10px; }
#content h3 { font-size: 22px; font-style: italic; margin: 15px 0; }
#content h4 { font-size: 16px; font-weight: bold; margin: 15px 0; }
#content ul { margin: 0.5em 0 1em 40px; }
#content article.entry { padding: 0 25px; }

/*
 * sidebar
 */
#sidebar { float: left; width: 19%; padding: 2.5% 1% 0; }
#sidebar h2 { font-size: 1.2em; }
#sidebar p { margin: 0 0 1em; }
#sidebar ul { padding: 8px 0 0; list-style: none; margin: 0; }


/*
 * footer
 */
footer { background: #333; border-top: 10px solid #A5151E; color: #fff; }
#footer-wrapper { min-width: 300px; max-width: 1025px; margin: 0 auto; padding: 1.5em 3%; }
footer a { color: #C9E0E8; } 
footer a:visited { color: #C9E0E8; }
footer a:hover { color: #fff; }

/*
 * device-specific styles
 */

@media screen and (max-width: 800px) {
	#navigation { margin: 33px 0 0; width: 60%; }
	#navigation ul li a { display: block; padding: 5px 0; }
	#navigation ul li .aktiv { padding: 5px; display: block; }
	#content-wrapper { background: none }
	#content, #sidebar { float: none; width: 94%; padding: 1.5em 3% 0; }
}
@media screen and (max-width: 400px) {
	#header-wrapper { padding: 1.5em 0; text-align: center; }
	header .logo { float: none; }
	#navigation { margin: 0; width: 100%; }
	#navigation ul li { float: none; padding: 1% 0; }
	#navigation ul li a { background: #222; display: block; width: 100%; padding: 5px 0; }
	#content h1 { text-align: center; }
	#sidebar { border-top: 10px solid #A5151E; }
	.product { float: none; margin: 0; width: 94% !important; }
	dl.mitmachen dt { float: none; text-align: center; width: 100%; }
	dl.mitmachen dd { float: none; width: 100%; }
}
