/*
 * 
 * resetting (customized Eric Meyer 2.0) 
 *
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/*
 *
 * clearing
 *
 */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
*:first-child+html .clearfix { min-height: 0; }
* html .clearfix { height: 1%; }
.clear {
	clear: both;
}


/* 
 *
 * global styling
 * 
 */
html {
	height: 100%;
}
body {
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 18px;
	height: 100%;
}
#wrapper {
    min-height: 100%;
    position: relative;	
}
p {
	margin: 7px 0 20px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ul {
	margin-left: 40px; 
}

/* 
 *
 * global link styles
 * 
 */
a {
	color: #A5151E;
	text-decoration: none;	
}
a:visited {
	color: #A5151E;	
}
a:hover {
	color: #FF1A00;
}



/*
 * 
 * header
 * 
 */
header {
	height: 175px;
	background: #333;
	border-bottom: 10px solid #A5151E;
}
header a {
	color: #C9E0E8;	
}
header a:visited {
	color: #C9E0E8;
}
header a:hover {
	color: #fff;
}
#headerbar {
    background: #3A3A3A;
    border-bottom: 1px solid #222;
    padding: 5px 0;
}
#headerbar ul {
	float: right;
	list-style: none;	
}
#headerbar ul li {
	float: left;
	margin: 0 15px;	
}
#headerbar ul li a {
	padding-left: 20px;
	color: #fff;
	background: url(http://www.mozilla.de/img/icons/dino.png) no-repeat;
}
#headerbar ul li a:hover {
	text-decoration: underline;
}
#header-wrapper {
	width: 1025px;
	margin: 0 auto;
}
header .logo {
	float: left;
	margin: 20px;
}
#navigation {
	float: left;
	margin: 100px 0 0;
}  
#navigation ul li {
	float: left;
	margin: 0 20px;
	list-style: none;
}
#navigation ul li a {
	font-size: 20px;
	} 



/*
 * 
 * general content styling
 * 
 */
#content-wrapper {
	width: 1025px;
	margin: 0 auto;
	padding: 0 0 150px;
	background: url(http://www.mozilla.de/img/bg/content.png) repeat-y;
	color: #000; 
}
#content {
    width: 740px;
    padding: 35px 70px 0 0;
    float: left;
}
#content h1 {
	font-size: 26px;
	font-style: italic;
	margin: 0 0 15px;
}
#content h2 {
	font-size: 22px;
	font-style: italic;
	margin: 20px 0;
	border-bottom: 1px solid #333;
	padding: 0 0 10px;
}
#content h3 {
	font-size: 22px;
	font-style: italic;
	margin: 0 0 7px;
}

#content h4 {
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0;
}
#content article.entry {
	padding: 0 25px;
}

/*
 * 
 * sidebar
 * 
 */
#sidebar {
	float: left;
    padding: 35px 10px 15px;
    width: 195px;
}

#sidebar h2 {
	font-size: 18px;
    font-style: italic;
}

#sidebar ul {
	padding: 15px 0 0;
	list-style: none;
	margin: 0;
}



/*
 * 
 * footer
 * 
 */
footer {
    position: absolute;
    bottom: 0;
    background: #333;
    border-top: 10px solid #A5151E;
    width: 100%;
    height: 75px;
    color: #fff;
}
#footer-wrapper {
	width: 1024px;
	margin: 0 auto;
}	
footer a {
	color: #C9E0E8;	
}
footer a:visited {
	color: #C9E0E8;	
}
footer a:hover {
	color: #fff;
}
footer .copyright {
	font-size: 13px;
	line-height: 16px;
}
